<ul class="nav inner-sidebar" id="innerSidebar">
    <li class="">
        <a href="#" title="Links">
            <i class="fa fa-link">
                <span class="overlay-label orange"></span>
            </i>
            Links
        </a>
    </li>
    <li class="dropdown open">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Projects">
            <i class="fa fa-clipboard">
                <span class="overlay-label green"></span>
            </i>
            Project <b class="fa fa-angle-left dropdown-arrow"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" title="Common Elements">
                    <i class="fa fa-angle-double-right"><span class="overlay-label green80"></span></i>
                    Open Source
                </a>
            </li>
            <li>
                <a href="#" title="Validation">
                    <i class="fa fa-angle-double-right"><span class="overlay-label green60"></span></i>
                    Web Projects
                </a>
            </li>
            <li>
                <a href="#" title="Validation">
                    <i class="fa fa-angle-double-right"><span class="overlay-label green60"></span></i>
                    Components
                </a>
            </li>
            <li>
                <a href="#" title="Validation">
                    <i class="fa fa-angle-double-right"><span class="overlay-label green60"></span></i>
                    Experiments
                </a>
            </li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Portal">
            <i class="fa fa-list">
                <span class="overlay-label green"></span>
            </i>
            Portal <b class="fa fa-angle-left dropdown-arrow"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" title="Common Elements">
                    <i class="fa fa-angle-double-right"><span class="overlay-label green80"></span></i>
                    Page#1
                </a>
            </li>
            <li>
                <a href="#" title="Validation">
                    <i class="fa fa-angle-double-right"><span class="overlay-label green60"></span></i>
                    Page#2
                </a>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#" title="Publication">
            <i class="fa fa-book">
                <span class="overlay-label orange"></span>
            </i>
            Publications
        </a>
    </li>
    <li class="">
        <a href="#" title="Activites">
            <i class="fa fa-comments">
                <span class="overlay-label orange"></span>
            </i>
            Activites
        </a>
    </li>
    <li class="">
        <a href="#" title="IDE Plugins">
            <i class="fa fa-hdd-o">
                <span class="overlay-label orange"></span>
            </i>
            IDE Plugins
        </a>
    </li>
    <li class="">
        <a href="#" title="Starter">
            <i class="fa fa-road">
                <span class="overlay-label orange"></span>
            </i>
            Starter
        </a>
    </li>
    <li class="">
        <a href="#" title="Quick Notes">
            <i class="fa fa-flash">
                <span class="overlay-label orange"></span>
            </i>
            Quick Notes
        </a>
    </li>
    <li class="">
        <a href="#" title="Syntax Points">
            <i class="fa fa-tint">
                <span class="overlay-label orange"></span>
            </i>
            Syntax Points
        </a>
    </li>
    <li class="">
        <a href="#" title="Assets">
            <i class="fa fa-folder-open">
                <span class="overlay-label orange"></span>
            </i>
            Assets
        </a>
    </li>
</ul>
