<div class="logo">
    <a href="{{- path('index_default') -}}" >
        <i class="fa fa-code" style="font-size: 15px;"></i><strong>DEV</strong> <span class="divider vertical"></span> <span style="font-size:14px;">HELPER</span>
    </a>
</div>
